<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ching.wechatstudy.serviceDao.StudentDao">
    <select id="queryStudents" resultType="com.ching.wechatstudy.pojo.Student">
        select * from student where studentNo = #{studentNo}
    </select>

    <select id="loginStudent" resultType="com.ching.wechatstudy.pojo.Student">
        select * from student where studentNo = #{studentNo} and passWord =#{passWord}
    </select>

    <select id="queryAllStudents" resultType="com.ching.wechatstudy.pojo.Student">
        select * from student a where 1=1
        <if test="list != null">
            And a.studentNo in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="querySubjectStudent" resultType="com.ching.wechatstudy.pojo.SubjectMeta">

SELECT
studentNo,a.subjectNo as subjectNo,needNum,dakaNum,c.teacherNo,subjectName,weekDay,addr,c.name
FROM
	student_subject a
	LEFT JOIN subject b ON a.subjectNo = b.subjectNo
	left join teacher c on a.teacherNo = c.teacherNo
WHERE
	1 = 1
	AND a.studentNo = #{studentNo}
    </select>


    <select id="queryAllStudent" resultType="java.lang.String">

SELECT
a.studentNo from student a left join student_subject b on a.studentNo = b.studentNo where b.subjectNo= #{subjectNo}
    </select>

</mapper>